<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hot Temperature</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/components.css">
    <style>
        p{
            line-height:2rem;
        }
        .hero{
            background-image: url("/assets/forest-fire.jpg");
            height: 65vh;
        }

        p.w{
            width: 50rem;
        }
    </style>
</head>
<body>
    <main>
        <section class="hero">
            <div class="hero-content">
              <h1>Hot Temperature</h1>
            </div>
          </section>
          <section class="container flexjcenter">
            <p class="t-center w">
                The Earth is now about 1.1°C warmer than it was in the 1800s. We are not on track to meet the <a href="https://en.wikipedia.org/wiki/Paris_Agreement">Paris Agreement</a> target to keep global temperature from exceeding 1.5°C above pre-industrial levels. That is considered the upper limit to avoid the worst fallout from climate change.Nearly all land areas are seeing more hot days and heat waves; 2020 was one of the hottest years on record. Higher temperatures increase heat-related illnesses and can make it more difficult to work and move around. Wildfires start more easily and spread more rapidly when conditions are hotter.
            </p>
          </section>
          <section class="container flexjcenter">
            <p class="t-center w">
                Since the mid-1980s, Arctic surface air temperatures have warmed at least twice as fast as the global average, while sea ice, the Greenland ice sheet and glaciers have declined over the same period and permafrost temperatures have increased.
            </p>
          </section>
          <h2 class="t-center">Images</h2>
          <br>
          <section class="container flexjcenter">
            <div class="card" style="width:25rem">
                <img class="card-img" src="/assets/impacts/global_gis_2022_chart.png">
                <div class="card-body">
                    <p class="t-center">Bar chart showing rising global temperatures since 1880</p>
                </div>
            </div>
          </section>
          <br>
          <section class="flexjcenter">
            <div class="img-grid">
                <div class="flexjcenter">
                    <img class="grid-img" src="/assets/forest-fire.jpg" alt="Hot Temperature">
                </div>
                <div class="flexjcenter">
                    <img class="grid-img" src="/assets/impacts/hotenv.jpeg" alt="Hot Temperature">
                </div>
                <div class="flexjcenter">
                    <img class="grid-img" src="/assets/impacts/hotearth.jpeg" alt="Hot Temperature">
                </div>
                <div class="flexjcenter">
                    <img class="grid-img" src="/assets/impacts/manhot.avif" alt="Hot Temperature">
                </div>
            </div>
          </section>
          <br><br>
    </main>
</body>
</html>