<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hot Temperature</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/components.css">
    <style>
        p{
            line-height:2rem;
        }
        .hero{
            background-image: url("/assets/impacts/storm.jpg");
            height: 65vh;
        }

        p.w{
            width: 50rem;
        }
    </style>
</head>
<body>
    <main>
        <section class="hero">
            <div class="hero-content">
              <h1>Severe Storms</h1>
            </div>
          </section>
          <section class="container flexjcenter">
            <p class="t-center w">
                Changes in temperature cause changes in rainfall. This results in more severe and frequent storms. They cause flooding and landslides, destroying homes and communities, and costing billions of pounds.
            </p>
          </section>
          
          <h2 class="t-center">Images</h2>
          <br>
         
          <section class="flexjcenter">
            <div class="img-grid">
                <div class="flexjcenter">
                    <img class="grid-img" src="/assets/storms/heavyrain">
                </div>
                <div class="flexjcenter">
                    <img class="grid-img" src="/assets/impacts/hotenv.jpeg">
                </div>
                <div class="flexjcenter">
                    <img class="grid-img" src="/assets/impacts/hotearth.jpeg">
                </div>
                <div class="flexjcenter">
                    <img class="grid-img" src="/assets/impacts/manhot.avif">
                </div>
            </div>
          </section>
          <br><br>
    </main>
</body>
</html>