<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Climate Change</title>
  <link href="/styles/components.css" rel="stylesheet" type="text/css" />
  <link href="/styles/style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="/assets/icons/icon.svg">
</head>

<body>
  <!-- <div class="splash move-down">
    <div class="loading"></div>
  </div> -->
  <main>
    <section class="hero">
      <div class="hero-content scroll-transition scroll-text-transition">
        <h1>Take Action Against Climate Change Today</h1>
        <p style="font-size: larger;">Join us in the fight against climate change by learning about its impacts and
          taking simple steps to reduce
          your carbon footprint. Together, we can create a more sustainable future for ourselves and the planet.</p>
        <br>
        <div class="flexjcenter">
          <button onclick="document.querySelector('.overview').scrollIntoView()">
            <p class="t-center">&#11117; Explore &#11117;</p>
          </button>
        </div>
      </div>
    </section>

    <section class="container overview">
      <br>
      <div class="flexjcenter" id="intro">
        <div class="card hoverable" style="width: 30rem;border-radius:20px;">
          <img src="/assets/forest-fire.jpg" alt="Forest Fire" class="card-img"
            style="border-top-left-radius:20px;border-top-right-radius: 20px;">
          <div class="card-body">
            <h2 class="t-center">Climate Change</h2>
            <div class="flexjcenter">
              <div>
                <p>Climate change refers to long-term shifts in temperatures and weather patterns. These shifts may be
                  natural, but since the 1800s, human activities have been the main driver of climate change, primarily
                  due
                  to the burning of fossil fuels (like coal, oil and gas), which produces heat-trapping gases.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div>
        <h1 class="t-center">Impacts of Climate Change</h1>
        <br>
        <div class="flexjcenter">
          <div class="slideshow" id="impacts">

          </div>
        </div>
        <div class="flexjcenter">
          <div class="card">
            <div class="card-body">
              <button id="bwd-btn" class="slideshow-btn">&#10094;</button>
              <span id="sd-indicator"></span>
              <button id="fwd-btn" class="slideshow-btn">&#10095;</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div id="causes-outer">
        <h1 class="t-center">Causes of Climate Change</h1>
        <br>
        <div class="flexjcenter">
          <div class="list" id="causes">
          </div>
        </div>
      </div>
    </section>
    <section class="container actions jumbotron jumbotron-tango">
      <h1 class="t-center">Things to be done</h1>
      <div class="flexjcenter">
        <div class="list" id="actions" style="width: 75%;">
        </div>
      </div>
    </section>
    <section class="jumbotron" style="background:linear-gradient(to bottom, var(--yellow) 0%, var(--sienna) 100%);">
    </section>
    <section class="container actions jumbotron jumbotron-sienna">
      <h1 class="t-center">Climate Policies</h1>
      <div id="policies">
      </div>
      <br><br>
    </section>
    <section class="container jumbotron ma" id="m&a">
      <h1 class="t-center chubby ma-text">Mitigation & Adaptation</h1>
    </section>
    <section class="container jumbotron jumbotron-neptune">
      <h1 class="t-center scroll-transition full-pop">Electric Plane</h1>
      <br>
      <div class="flexjcenter scroll-transition full-pop">
        <div class="card" style="width:20rem;">
          <img class="card-img" src="/assets/plane.jpg" alt="" srcset="">
          <div class="card-body">
            <p class="t-center">
              An electric aircraft is an aircraft powered by electricity. Electric aircraft are seen as a way to reduce
              the environmental effects of aviation, providing zero emissions and quieter flights
            </p>
          </div>
        </div>
      </div>
      <br>
      <h2 class="t-center">Advantages of electric plane</h2>
      <div class="flexjcenter scroll-transition full-pop">
        <ul style="width:50rem;">
          <li>
            <span>Reduced Fuel Costs:</span>
            <span> The introduction of hybrid or all-electric flight is a step toward making flying more affordable for
              everyone.
            </span>
          </li>
          <li>
            <span>Quieter Qoperations:</span>
            <span>Electric planes have the potential to operate closer to cities and dwellings at all hours of the day
              without disturbing communities and wildlife.</span>
          </li>
          <li>
            <span>Increased Reliability:</span>
            <span>The hope is that electric aircraft will require less downtime for maintenance, reducing operating
              costs.</span>
          </li>
        </ul>
      </div>
      <h2 class="t-center">Feasibility</h2>
      <div class="flexjcenter scroll-transition full-pop">
        <p style="width:50rem">Batteries have been packing more power into smaller spaces for about 30 years, and
          continuing
          improvements could help electric planes become a more feasible option for flying. </p>
      </div>
      <h2 class="t-center">Feasibility Issues</h2>
      <div class="flexjcenter scroll-transition full-pop">
        <p style="width:50rem">Electric power is only suitable for small aircraft while for large passenger aircraft, an improvement of the energy density by a factor 20 compared to li-ion batteries would be required. Such batteries can reduce the overall operating costs for some short-range flights</p>
      </div>
      <div class="flexjcenter scroll-transition full-pop">
        <p style="width:50rem">
          Aircraft are some of the most complex vehicles out there, but the biggest problem for electrifying them is the battery weight. If you tried to fully electrify a 737 with today's batteries, you would have to take out all the passengers and cargo and fill that space with batteries just to fly for under an hour.-reason for it not existing
        </p>
      </div>
      <br>

    </section>
    <section class="jumbotron" style="background:linear-gradient(to bottom, var(--neptune) 0%, var(--yellow) 100%);">
    </section>
    <section class="container jumbotron jumbotron-yellow">
      <h1 class="t-center">Incentive For Recycling</h1>
      <br>
      <div class="flexjcenter">
        <div style="width: 50rem;">
          <div class="gr-flex scroll-transition full-pop">
            <div>
              <p>Encouraging people to recycle by offering them financial incentives, such as a digital currency that
                can
                be
                redeemed for goods and services. The currency could be earned through recycling or other sustainable
                practices, and could be used to support local businesses or environmental initiatives.</p>
            </div>
            <div class="flexjcenter"><img style="width:11rem;height:10rem" src="/assets/recycle_curr.jpeg" alt="">
            </div>
          </div>
          <br>
          <div class="gr-flex scroll-transition full-pop">
            <div>
              <p>Introducing a digital currency that rewards individuals for their sustainable behaviors could be an
                effective way to encourage more widespread adoption of recycling and other environmentally-friendly
                practices.</p>
            </div>
            <div class="flexjcenter">
              <img style="width:11rem" src="/assets/digital_currency.jpeg" alt="">
            </div>
          </div>
          <br>
          <div class="gr-flex scroll-transition full-pop">
            <div>
              <p>To make such a system work, it would be important to ensure that the currency has real value and can be
                easily redeemed for goods and services. This could be achieved by partnering with businesses and
                organizations that are committed to sustainability and are willing to accept the currency in exchange
                for their products or services. It would also be important to ensure that the system is secure and
                transparent, so that individuals can trust that their rewards are being fairly earned and redeemed.</p>
            </div>
            <div class="flexjcenter">
              <img src="/assets/shaking_hand.jpg" style="width:11rem;height:11rem;" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="jumbotron" style="background:linear-gradient(to bottom, var(--yellow) 0%,  var(--khaki) 100%);">
    </section>
    <!-- Learn -->
    <section id="lm" class="container jumbotron jumbotron-khaki" style="color:black;">
      <h1 class="t-center">Learn About Climate Change</h1>
      <br>
      <div class="flexjcenter">
        <div class="lm">
          <div class="lm-item">
            <div class="lm-10">
              <img class="lm-img" src="/assets/drivers.png" alt="">
            </div>
            <div class="lm-5">&nbsp;&nbsp;</div>
            <div class="lm-85">
              <div>
                <h2>Physical Drivers Of Climate Change</h2>
                <p>Since the Industrial Revolution, human activities have released large amounts of carbon dioxide and
                  other greenhouse gases into the atmosphere, which has changed the earth's climate. Natural processes,
                  such as changes in the sun's energy and volcanic eruptions, also affect the earth's climate.
                </p>
              </div>
            </div>
          </div>
          <div class="lm-item">
            <div class="lm-10">
              <iframe width="400" height="315" src="https://www.youtube.com/embed/G4H1N_yXBiA"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
            <div class="lm-5">&nbsp;&nbsp;</div>
            <div class="lm-85">
              <div>
                <h2>Causes and Effects of Climate Change | National Geographic</h2>
                <p>What causes climate change (also known as global warming)? And what are the effects of climate
                  change? Learn the human impact and consequences of climate change for the environment, and our lives.
                </p>
              </div>
            </div>
          </div>
          <div class="lm-item">
            <div class="lm-10">
              <iframe width="400" height="315" src="https://www.youtube.com/embed/NCPTbfQyMt8"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
            <div class="lm-5">&nbsp;&nbsp;</div>
            <div class="lm-85">
              <div>
                <h2>Is the weather actually becoming more extreme?</h2>
                <p>
                  From 2016 to 2019, the world saw record-breaking heat waves, rampant wildfires, and the longest run of
                  category 5 tropical cyclones on record. The number of extreme weather events has been increasing for
                  the last 40 years, and current predictions suggest that trend will continue. So, is the increase in
                  extreme weather due to random chance, or changing climate? R. Saravanan investigates.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br>
    <div class="fl-btn-outer">
      <button class="fl-btn">
        <img src="/assets/icons/menu.svg">
      </button>
    </div>

  </main>
  <footer>
    <p class="t-center">Climate Change <img class="icon" src="/assets/icons/icon.svg"></p>
    <div class="f-flex">
        <div class="credits">
          
          <div class="flexjcenter">
            <div>
              <p>Credits</p>
              <ul>
                <li>Govind Rajeesh</li>
                <li>Muhammed Shaz</li>
                <li>Fouad</li>
                <li>Eshaan</li>
              </ul>
            </div>
          </div>
        </div>
      <div class="query">
        <p class="t-center">Any Suggestion</p>
        <div class="flexjcenter" style="width:100%;">
          <form action="https://script.google.com/macros/s/AKfycby2LSPq9clECtmwqQvgD_i13qVqVV3rCbYWH8oA6ACkaGePXRGbmnTLqYsFrrp4sW_EAw/exec" method="post">
            <div>
              <textarea name="query" cols="30" rows="10" placeholder="What would like to know about?"></textarea>
            </div>
            <div>
              <input type="email" name="email" placeholder="Enter your email">
            </div>
            <br>
            <div class="flexjcenter">
              <button>Submit</button>
            </div>
          </form>
        </div>
        <br><br>
      </div>
    </div>
  </footer>
  <div class="menu-outer">
    <div class="menu">
      <button class="menu-close" id="menu-close">
        X
      </button>
      <div class="menu-body">
        <h2 class="t-center">Menu</h2>
        <div class="flexjcenter">
          <ul class="menu-links">
            <li class="menu-link">
              <a href="#intro">Introduction</a>
            </li>
            <li class="menu-link">
              <a href="#impacts">Impacts</a>
            </li>
            <li class="menu-link">
              <a href="#causes">Causes</a>
            </li>
            <li class="menu-link">
              <a href="#actions">Things To Do</a>
            </li>
            <li class="menu-link">
              <a href="#policies">Policies</a>
            </li>
            <li class="menu-link">
              <a href="#m&a">Mitigation & Adaptation</a>
            </li>
            <li class="menu-link">
              <a href="#lm">Learn More About Climate Change</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="/scripts/data.js"></script>
  <script src="/scripts/script.js"></script>
</body>

</html>