:root{
  --beige:#ffff88;
  --olive:#556B2F;
  --grey:rgb(105, 105, 105);
  --khaki:#C3B091;
  --yellow:#f0a830;
  --green:rgb(81, 212, 81);
  --sienna:#d07746;
  --neptune:#78c0a8;
}

html {
  height: 100%;
  width: 100%;
}

html,body{
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

body{
  font-family: sans-serif;
  padding-top: 0px;
  margin:0;
  overflow-x: hidden;
  font-size:x-large;
  background-color:#fcebb6;
}

ul{
  line-height: 2rem;
}

.hide{
  opacity:0
}

a{
  color: rgb(0, 140, 255);
  text-decoration: none;
}

a:hover{
  opacity: 0.5;
}

button{
  border: none;
  background-color: rgb(0, 153, 255);
  color:white;
  min-width: 5rem;
  min-height: 2rem;
  outline: none !important;
  border-radius: 10px;
  font-size: normal;
  cursor: pointer;
}

button:hover{
  opacity: 0.5;
}

.flexjcenter{
  display: flex;
  justify-content: center;
}

h1,h2,h3,h4{
  font-weight:normal;
}

.t-center{
  text-align: center;
}

.t-maroon{
  color: maroon;
}

.icon{
  width: 2rem;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-primary {
  background-color: #fff;
  color: #333;
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #333;
  color: #fff;
}


a{
  text-decoration: none;
}

.t-white{
  color:white;
}

.bl-translucent{
  background-color: rgba(0,0,0,1);
  border-radius: 10px;
  width:18rem;
}

.hero {
  height: 100vh;
  background-image: url('/assets/hero.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  max-width: 800px;
  text-align: center;
  color: #fff;
  background-color: rgba(33,33,33,0.655);
  box-shadow: -5px 10px 129px 29px rgba(33,33,33,1);
  padding:5px;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero-content h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.overview{
  width:100%;
  background:linear-gradient(to bottom, #ffffff 0%, var(--yellow) 100%);
}

.overview-img{
  width: 15rem;
}


.hide{
  opacity: 0;
}

footer{
  color: #7a7a7a;
}

.footer-sub{
  font-size: medium;
}

.f-flex{
  display: flex;
}

.credits{
  flex: 50;
}

.query{
  flex: 50;
}

@media only screen and (max-width:600px) {
  .hero-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .container{
    width: 100%;
  }

  .f-flex{
    flex-direction: column;
  }
}